:root {
    --primary-color: #91ed94;
}
#reading-section {
    width: 100%;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    transition: color 0.4s ease, border-bottom-color 0.4s ease;
    border-bottom: 2px solid transparent;
    /* Keep border consistent */
}

.tabs__radio {
    display: none;
}

.tab__content {
    order: 1;
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 20px;
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.tabs__radio:checked+.tabs__label {
    border-bottom-color: #4CAF50;

    color: #235d25;
}

.tabs__radio:checked+.tabs__label+.tab__content {
    display: block;
    max-height: 500px;
    /* Adjust this based on content size */
    opacity: 1;
    overflow: visible;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.book-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.book-item:last-child {
    border-bottom: none;
}

#book-list {
    max-height: 300px;
    overflow-y: auto;
}


#reading-list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}
.book {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 350px;
    min-height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Postion at the bottom of the .book */
.tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: row;
    gap: 20px;
}

.tag.reading {
    cursor: pointer;
    margin-top: 10px;
    background-color: #3089cca4;
    color: #373737;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.tag.completed {
    cursor: pointer;
    margin-top: 10px;
    background-color: #4CAF50a4;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.tag.reading i {
    color: rgb(95, 134, 148);
}

.comp-book {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 350px;
    min-height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#completed-books {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

/* Calendar */
#calendar {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days .day {
    text-align: center;
    padding: 5px; 
    color: #c2c2c2;
    border: none;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.date:hover,
.date.active {
    background: #3089cc;
    color: #fff;
}

.date.inactive {
    color: #c2c2c2;

    &:hover {
        color: #fff;
    }
}

.date.eventable {
    background: #af5c4c;
    color: #fff;
}

.main-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-s {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    min-height: 370px;
}

#addEvent button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3089cc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.right-s h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.right-s .event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: #2e9535;
    }
}

#dat {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}